<%- include("header") -%>

    <div class="box" id="heading">
        <h1><%= listTitle %></h1>
    </div>
    
    <div class="box" id="">
        <!-- Input code to be run -->
        <% for( var i = 0; i < newListItems.length; i++ ) { %>
            
            <div class="item">
                <!-- Input checkbox for the user to mark it -->
                <input type="checkbox">
                <!-- Render the value -->
                <p> <%= newListItems[i] %> </p>
            </div>
        <% } %>

        <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <button type="submit" name="list" value="<%= listTitle %>">+</button>
        </form>
    </div>

<%- include("footer") -%>